body {
  margin: 0;
  font-family: monospace;
}

#space-header {
  display: flex;
  justify-content: center;
  background: black;
  opacity: 1;
  height: 7rem;
  padding: 1rem;
}

#space-header img {
  height: 6rem;
  width: auto;
}

#space-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px black;
}

.space-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  /* position: relative; */
  background-color: black;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: black solid 1px;
  color: black;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: black;
  opacity: 1;
}

.add-space-form {
  width: 80%;
}

.submit {
  position: relative;
  background-color: black;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: black solid 1px;
  color: black;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

#apod-video {
  margin: 10px;
  height: 300px;
  width: 600px;
}

#apod-img {
  position: absolute;
  left: 1%;
  height: auto;
  width: 80%;
}

#apod-img-explanation {
  position: absolute;
  float: left;
  background-color: black;
  opacity: 0.6;
  color: white;
  width: 75%;
  top: 50%;
  text-align: center;
}

#apod-img-button {
  position: absolute;
  top: 40%;
  left: 3%;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: black;
  font-size: 18px;
  justify-self: center;
  opacity: 0.5;
}

#apod-img-button:hover {
  background-color: black;
  border: black solid 1px;
  color: whitesmoke;
  opacity: 0.5;
}

#apod-video-button {
  position: absolute;
  top: 75%;
  left: 75%;
  background-color: black;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

#apod-video-button:hover {
  background-color: whitesmoke;
  border: black solid 1px;
  color: black;

#people-in-space {
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

#people-in-space img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
  cursor: pointer;
  margin-left: 5rem
}

#people-in-space img:last-child {
  margin-right: 0;
}

#people-detail {
  position: relative;
  margin-left: 30rem
}

.detail-image {
  height: 500px;
}

.name,
.nationality {
  position: absolute;
  left: 10px;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.name {
  bottom: 100px;
}

.nationality {
  bottom: 70px;
}
